.navbar{
    background-color: darkgray;
    position: sticky;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    min-width: 400px;
    width: 100%;
}
.navbar a{
    width: 33%;
    text-decoration: none;
    color: black;
    background-color: darkgray;
    padding: 30px;
    transition: 1s;
    font-family: 'Courier New', Courier, monospace;
}
a:hover{
    background-color: black;
    color: white;
}