.taskcontainer{
    padding: 3%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 10px;
    box-shadow: 10px 10px darkgrey;
    min-width: 150px;
    max-width: 80%;
}
.done {
    background-color: darkcyan;
}
.done h3{
    background-color: darkcyan;
}
.done p{
    background-color: darkcyan;
}
.postponed{
    background-color: rgb(46, 75, 119);
}
.postponed h3{
    background-color: rgb(46, 75, 119);
}
.postponed p{
    background-color: rgb(46, 75, 119);
}
.pending{
    background-color: rgb(195, 114, 33);
}
.pending h3{
    background-color: rgb(195, 114, 33);
}
.pending p{
    background-color: rgb(195, 114, 33);
}
.taskcontainer h3{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
}
.taskcontainer p{
    margin-bottom: 10px;
}