.buttonscontainer{
    padding: 10px;
}
.buttonscontainer button{
    border-radius: 10px;
    padding: 10px;
    background-color: darkorange;
    border-color: transparent;
    color: black;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.buttonscontainer select{
    padding: 10px;
    border-radius: 10px;
    background-color: seagreen;
    font-family: 'Courier New', Courier, monospace;
}
select option{
    background-color: seagreen;
    border-radius: 10px;
}