.taskscontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 200px;
    background-color: lightgray;
    gap: 20px;
    border-radius: 10px;
}
.loginmessage{
    background-color: lightgray;
    text-align: center;
    padding: 50px;
    margin: 10%;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}